{{ template "header" }}
<div class="page">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <div>
                <h5 id="title">
                    容器
                </h5>
            </div>
            <div>
                <h6>
                    <i class="fas fa-server"></i>
                    <small>/ 容器</small>
                </h6>
            </div>
        </a>
        <div class="nav-right">
            <div class="inner-addon right-addon">
                <i class="fas fa-search"></i>
                <input type="text" class="form-control" placeholder="搜索" id="search" onkeyup="Search()" />
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="table">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">序号</th>
                                            <th scope="col" class="width20">容器名</th>
                                            <th scope="col">创建时间</th>
                                            <th scope="col">状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $index, $container := . }}
                                        <tr>
                                            <td>{{ $index | inc }}</td>
                                            <td class="width20">{{ .Name }}</td>
                                            <td>{{ .CreatedTime }}</td>
                                            <td>{{ if eq .State "running" }}
                                                <span class="fas fa-check text-success center" aria-hidden="true"></span>{{ else }}
                                                <span class="fas fa-times text-danger center" aria-hidden="true"></span>{{ end }}
                                            </td>
                                        </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
