{{ template "header" }}
<div class="page">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <div>
        <h5 id="title">
          部署
        </h5>
      </div>
      <div>
        <h6>
          <i class="fas fa-server"></i>
          <small>/ 部署</small>
        </h6>
      </div>
    </a>
    <div class="nav-right">
      <div class="inner-addon right-addon">
        <i class="fas fa-search"></i>
        <input type="text" class="form-control" placeholder="搜索" id="search" onkeyup="Search()" />
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="padding: 0;">
          <div class="card fcard">
            <div class="card-body">

              <div align="right">
                <button type="button" class="badge badge-dark" data-toggle="modal" data-target="#create">创建新部署</button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">创建新部署</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">输入部署配置</label>
                        <textarea class="form-control" name="body" rows="8"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                      <button type="submit" onclick="create(this, 'deployments')" class="btn btn-primary">确认提交</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">更新部署</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label>更新部署配置</label>
                        <textarea class="form-control" id="updateTextArea" name="body" rows="12"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                      <button type="submit" onclick="update(this, 'deployments')" class="btn btn-primary">确认提交</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal HTML -->
              <div id="modal-success" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                      <h4>成功!</h4> 
                      <p id="success-result"></p>
                      <button class="btn btn-success" data-dismiss="modal"><span>确定</span></button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="modal-danger" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                      <h4>失败!</h4> 
                      <p id="danger-result"></p>
                      <button class="btn btn-danger" data-dismiss="modal"><span>确定</span></button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal HTML -->
              <div id="success-result" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                      <h4>成功!</h4> 
                      <p id="result"></p>
                      <button class="btn btn-success" data-dismiss="modal"><span>确定</span></button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="danger-result" class="modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                      <h4>失败!</h4> 
                      <p id="result"></p>
                      <button class="btn btn-danger" data-dismiss="modal"><span>确定</span></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-hover" id="table">
                  <thead class="thead">
                    <tr>
                      <th style="width: 8%">序号</th>
                      <th scope="col">部署名</th>
                      <th scope="col">命名空间</th>
                      <th scope="col">创建时间</th>
                      <th style="width: 15%" scope="col">操作</th>
                    </tr>
                  </thead>
                  <tbody>

                    {{ range $index, $deployment := . }}
                      <tr>
                        <td style="width: 2%">{{ $index | inc }}</td>
                        <td><a href="/deployments/{{ $deployment.Namespace }}/{{ $deployment.Name }}">{{ $deployment.Name }}</a></td>
                        <td>{{ $deployment.Namespace }}</td>
                        <td>{{ $deployment.CreationTimestamp }}</td>
                        <td style="width: 5%" >
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" onclick="showConfigModal(this, 'deployments')" class="btn btn-secondary">修改</button>
                            <button type="button" onclick="remove(this, 'deployments')" class="btn btn-warning">删除</button>
                          </div>
                        </td>
                      </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ template "footer" }}
