{{ define "footer" }}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/public/scripts/popper.min.js" ></script>
<script src="/public/scripts/bootstrap.min.js"></script>
</body>

</html>
{{ end }}
