{{ define "header" }}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <link rel="stylesheet" href="/public/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/scripts/script.js"></script>
    <script src="/public/scripts/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <meta name="description" content="Liman - Web application for monitoring docker. Monitor docker inside the docker.">
    <meta name="keywords" content="docker, container, self-hosted, liman">


    <link rel="shortcut icon" type="image/png" href="/public/img/liman.png" />
    <link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/public/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/public/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/public/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/public/img/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/apple-touch-icon-180x180.png" />

    <title>Liman</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="content">
                <ul>
                    <li>
                        <a href="/">
                            <img src="/public/img/liman-mini.png" alt="liman">
                        </a>
                    </li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="/">
                            <i class="zmdi zmdi-home" style="font-size: 120%"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/containers">
                            <i class="fas fa-server"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/images">
                            <i class="zmdi zmdi-cloud-outline-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/networks">
                            <i class="zmdi zmdi-network"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/refrigerations">
                            <i class="zmdi zmdi-toys"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/powersupplies">
                            <i class="zmdi zmdi-input-power"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/pods">
                            <i class="zmdi zmdi-input-power"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/nodes">
                            <i class="zmdi zmdi-input-power"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/services">
                            <i class="zmdi zmdi-input-power"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/deployments">
                            <i class="zmdi zmdi-input-power"></i>
                        </a>
                    </li>
                </ul>
                <br>
                <ul>
                    <li>
                        <a href="/settings">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {{ end }}
