{{ template "header" }}
<div class="page">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <div>
        <h5 id="title">
          主页
        </h5>
      </div>
      <div>
        <h6>
          <i class="zmdi zmdi-home"></i>
          <small>/ 主页</small>
        </h6>
      </div>
    </a>
  </nav>
  <div class="container-fluid">
    <div class="container">

      <!-- Info Cards -->
      <div class="row">

        <div class="col-md-3">
          <a href="/containers">
            <div class="card-counter primary">
              <i class="fas fa-server"></i>
              <span class="count-numbers">{{ index . 4 }}</span>
              <span class="count-name">容器</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="/images">
            <div class="card-counter success">
              <i class="zmdi zmdi-cloud-outline"></i>
              <span class="count-numbers">{{ index . 5 }}</span>
              <span class="count-name">镜像</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="/pods">
            <div class="card-counter warning">
              <i class="fas fa-cubes db-icon"></i>
              <div class="m-l-10 float-right">
                <span class="count-numbers">{{ index . 9 }}</span>
                <span class="count-name">容器组</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="ups">
            <div class="card-counter danger">
              <i class="zmdi zmdi-power-input db-icon"></i>
              <span class="count-numbers">{{ index . 7 }}</span>
              <span class="count-name">供电设备</span>
            </div>
          </a>
        </div>

        <!--
        <div class="col-md-3">
          <a href="/services">
            <div class="card-counter primary-dark">
              <i class="zmdi zmdi-ungroup db-icon"></i>
              <span class="count-numbers">{{ index . 11 }}</span>
              <span class="count-name">服务</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="/deployments">
            <div class="card-counter success-darken2">
              <i class="zmdi zmdi-group db-icon"></i>
              <span class="count-numbers">{{ index . 12 }}</span>
              <span class="count-name">部署</span>
            </div>
          </a>
        </div>
        -->

        <div class="col-md-3">
          <a href="/networks">
            <div class="card-counter primary-dark">
              <i class="zmdi zmdi-wifi-alt db-icon"></i>
              <span class="count-numbers">{{ index . 6 }}</span>
              <span class="count-name">网络</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="/refs">
            <div class="card-counter success-darken2">
              <i class="zmdi zmdi-swap db-icon"></i>
              <span class="count-numbers">{{ index . 8 }}</span>
              <span class="count-name">制冷设备</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="/nodes">
            <div class="card-counter warning-dark">
              <i class="zmdi zmdi-devices db-icon"></i>
              <span class="count-numbers">{{ index . 10 }}</span>
              <span class="count-name">节点</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a href="http://buaa02:30108/d/Cck5TeLmz/shu-ju-zhong-xin-zi-yuan-chi-xin-xi-gai-lan?orgId=1" target="_blank">
            <div class="card-counter danger-dark">
              <i class="zmdi zmdi-devices db-icon"></i>
              <span class="count-numbers"></span>
              <span class="count-name">监控面板</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{{ template "footer" }}
