{{ template "header" }}
<div class="page">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <div>
                <h5 id="title">
                    主页
                </h5>
            </div>
            <div>
                <h6>
                    <i class="zmdi zmdi-home"></i>
                    <small>/ 主页</small>
                </h6>
            </div>
        </a>
    </nav>
    <div class="container-fluid">
        <div class="container">
            <!-- Info Cards -->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/containers">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="fas fa-cube db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 4 }}</h5>
                                        <p class="mb-0">容器</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/images">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-cloud-outline db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 5 }}</h5>
                                        <p class="mb-0">镜像</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/pods">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="fas fa-cubes db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 9 }}</h5>
                                        <p class="mb-0">Pods</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="powersupplies">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-power-input db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 7 }}</h5>
                                        <p class="mb-0">供电设备</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/services">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-ungroup db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 11 }}</h5>
                                        <p class="mb-0">服务</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/deployments">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-group db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 12 }}</h5>
                                        <p class="mb-0">部署</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/networks">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-wifi-alt db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 6 }}</h5>
                                        <p class="mb-0">网络</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/refrigerations">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-swap db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 8 }}</h5>
                                        <p class="mb-0">制冷设备</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="card db">
                        <div class="card-body">
                            <a href="/nodes">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <i class="zmdi zmdi-devices db-icon"></i>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 float-right">
                                        <h5 class="mt-0 round-inner">{{ index . 10 }}</h5>
                                        <p class="mb-0">节点</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
