{{ template "header" }}
<div class="page">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <div>
        <h5 id="title">
          登录
        </h5>
      </div>
    </a>
  </nav>
  <div class="container-fluid">
    <div class="container text-center col-sm-3">
      <div class="login-body pt-5 mt-5">
        <form class="form-signin" action="/" method="POST">
          <img class="mb-0" src="/public/img/liman.png" alt="" width="200" height="200">
          <label for="inputUser" class="sr-only">用户名</label>
          <input type="user" id="inputUser" name="inputUser" class="form-control" placeholder="User" required>
          <label for="inputPassword" class="sr-only">密码</label>
          <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
          <button class="btn btn-block btn-dark" type="submit">登录</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ template "footer" }}
