{{ template "header" }}
<div class="page">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="margin-left: 10px;">
            <div>
                <h5 id="title">
                    供电设备
                </h5>
            </div>
            <div>
                <h6>
                    <i class="zmdi zmdi-input-power"></i>
                    <small>/ 供电设备</small>
                </h6>
            </div>
        </a>
    </nav>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="table">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">系统型号</th>
                                            <th scope="col">额定功率</th>
                                            <th scope="col">供电方式</th>
                                            <th scope="col">运行功率</th>
                                            <th scope="col">机型容量</th>
                                            <th scope="col">工作模式</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range . }}
                                        <tr>
                                            <td>{{ .SystemType }}</td>
                                            <td>{{ .PowerRating }}</td>
                                            <td>{{ .PowerSupplyMethod }}</td>
                                            <td>{{ .RunningState }}</td>
                                            <td>{{ .SystemGrant }}</td>
                                            <td>{{ .WorkMode }}</td>
                                        </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>

</html>
