{{ template "header" }}
<div class="page">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <div>
                <h5 id="title">
                    制冷设备
                </h5>
            </div>
            <div>
                <h6>
                    <i class="zmdi zmdi-toys"></i>
                    <small>/ 制冷设备</small>
                </h6>
            </div>
        </a>
    </nav>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="padding: 0;">
                    <div class="card fcard">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="table">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col">序号</th>
                                            <th scope="col">系统型号</th>
                                            <th scope="col">额定功率</th>
                                            <th scope="col">供电方式</th>
                                            <th scope="col">运行功率</th>
                                            <th scope="col">机型容量</th>
                                            <th scope="col">工作模式</th>
                                            <th scope="col">输入功率因数</th>
                                            <th scope="col">输入频率</th>
                                            <th scope="col">输出电压</th>
                                            <th scope="col">输出电流</th>
                                            <th scope="col">输出频率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $index, $item := . }}
                                        <tr>
                                            <td>{{ $index | inc }}</td>
                                            <td>{{ $item.SystemType }}</td>
                                            <td>{{ $item.PowerRating }}</td>
                                            <td>{{ $item.PowerSupplyMethod }}</td>
                                            <td>{{ $item.RunningState }}</td>
                                            <td>{{ $item.SystemGrant }}</td>
                                            <td>{{ $item.WorkMode }}</td>
                                            <td>{{ $item.In.PowerFactor }}</td>
                                            <td>{{ $item.In.Frequency }}</td>
                                            <td>{{ $item.Out.Voltage }}</td>
                                            <td>{{ $item.Out.Current }}</td>
                                            <td>{{ $item.Out.Crequerycy }}</td>
                                        </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
