{{ define "vue" }}
    <script>

        var tmp = new Vue({
            el: "#buttons",
            methods: {
                showConfigModal: function(btn, type) {
                    button = btn
                    row = btn.target.parentNode.parentElement.parentElement.children
                    namespace = row[2].innerText
                    name = row[1].innerText
                    resourceName = getResourceNameByType(type)

                    $.ajax({
                        type: "GET",
                        url: "/api/" + type + "/" + namespace + "/" + name,
                        contentType:"application/json",
                        dataType:"json",
                        success: function(result){
                            $("#update").modal("show")
                            $("#updateTextArea").val(result["result"])
                        },
                        error: function(result){
                            $("#danger-result").text("获取" + resourceName + "信息失败")
                            $("modal-danger").modal()
                        }
                    });
                }
            }
        })
    </script>
{{ end }}
